@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    /* --default-font-family: 'Inter', sans-serif; */
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray-700: hsl(0, 0%, 20%);
    --color-gray-800: hsl(0, 0%, 12%);
    --color-gray-900: hsl(0, 0%, 8%);
}

span {
    color: white;
    font-weight: 600;
}

.items {
    cursor: pointer;
    padding: 1rem;
    background-color: var(--color-gray-700);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.items:hover {
    background-color: var(--color-green);
    color: var(--color-gray-900);
}